.well-come {
    color: #4d4d4d!important;
}
.well-come img {
    width: 100%;
    max-width: 500px;
}

.intro-message {
    color: #4d4d4d;
}

#play-video.control-play, #play-video.control-pause{
    cursor:pointer;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
#play-video.control-play:hover, #play-video.control-pause:hover{
    -ms-transform: rotate(7deg); 
    -webkit-transform: rotate(7deg); 
    transform: rotate(7deg);
}

.pulse {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.macbook-carousel figure {
    left: 82px;
    width: 421px;
    height: 263px;
}
.fixed-topnav ~ .section-portfolio {
    background-color:rgba(255,255,255,0.6);
}
.block_logo {
    position: absolute!important;
    top: 0px;
    width: 70px!important;
    right:0px;
    padding:0px 0px 10px 10px;
    border-bottom-left-radius:2em;
    background:#fff;
    -moz-transition: all 1s linear!important;
    -o-transition: all 1s linear!important;
    -webkit-transition: all 1s linear!important;
    transition: all 1s linear!important;
    
}
.service-description {
    color: #8F8F8F;
    font-family: 'Dosis',sans-serif;
}
.bg_transparent p {
    font-family: 'Dosis',sans-serif;
}
.tit_bio{
    
   padding: 45px 15px 0px 15px; 
}
.bio {
    font-family: 'Dosis',sans-serif;
    font-size: small;
    text-align: right;
    padding: 5px 15px 20px 15px;
    line-height: 1.3;
  
}
figure.effect-jazz img {
    opacity: 1;
}

/*
.ricerca {
    background-image: url(../images/blockchainlab-logo-dark.png)!important;
}
.multidisciplinare {
    background-image: url(../images/blockchainlab-logo-grey.png)!important;
}
.comitato {
    background-image: url(../images/blockchainlab-logo-blue.png)!important;
}
*/
.see-more-inner{
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    border:0px!important;
}

figure.effect-jazz:hover .see-more-inner {
    background:rgba(100,100,100,0.9);
    border:0px;
}
figure.effect-jazz:hover .block_logo {
    
   top:-100px;
}

.portfolioContainer.grid-4 figure p {
    font-size: 10px;
}
.img_team {
    max-width: 30px;
}
.logo_small {
    max-width: 50px;
}
.topnav .navbar-brand {
    background-size: 75px 54px;
}
.icon-carousel img {
    height: 35px;
}
.testimonial-photos .photo-hold {
    
    width: auto;
    height: auto;
    
}
.cont_loghi{
    background:rgba(100,100,100,0.5);
}

.pharse_slide .owl-controls {
        display:none!important;
    }
.footer_img{
    width:100%;
}    
.link_hover:hover i{
    color:#5299C7;
    -moz-transition: all .7s linear;
    -o-transition: all .7s linear;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
}
figure.effect-jazz .see-more p {
    padding: 0px 15px;
}
.start_up_img{
    opacity:1!important;
}
.cont_logo_home{
    display:none;
}
.cont_iframe{
    display:block;
}
.portfolioFilter div{
    display:inline-block;
}
.green_link:hover{
    color:#87B05C!important;
}
.red_link:hover{
    color:#C92C55!important;
}
.portfolioContainer.wide.grid-4 figure {
    width: 18.5%;
    margin: .5%;
}
.portfolioContainer.grid-4 {
    margin-left: .9%;
}
@media only screen and (max-width: 992px) {

.portfolioContainer.wide figure, .portfolioContainer.grid-4 figure, .portfolioContainer.grid-5 figure, .portfolioContainer.wide.grid-4 figure, .portfolioContainer.wide.grid-3 figure {
    width: 47.3%;
    margin: 1% 1.2%;
}
}
@media only screen and (max-width: 1400px) {
.portfolioContainer.grid-4 figure, .portfolioContainer.grid-5 figure, .portfolioContainer.wide.grid-4 figure {
    margin: .6%;
    width: 22.9%;
}
}
@media only screen and (min-device-width : 300px) and (max-device-width : 568px) { 
    .cont_iframe{
        display:none;
    }
    .cont_logo_home{
        display:block;
    }
    
    .tit_bio {
        clear:both;
        padding:20px 20px 0px 20px;
    }
    .bio{
        clear:both;
        padding:10px 20px;
    }
    .container.services,.section-portfolio {
        padding-top: 10px!important;
    }
    .section-content {
        padding:10px 0px!important;
    }
        .service-description {
        text-align:justify!important;
    }
    .foto {
        background-position: 0px -108px;
        padding: 40px 0px!important;
    }
    .m-b-30 {
        margin-bottom: 10px!important;
    }
    .portfolioContainer figure:nth-child(even) img {
        float: right;
    }
    .portfolioContainer figure:nth-child(even).effect-jazz {
        background-position: 5% 5%;
    }
    
    .portfolioContainer figure:nth-child(odd) .tit_bio,.portfolioContainer figure:nth-child(odd) .bio {
        text-align:left!important;
    }
    .section-content {
        padding: 30px 0px 0px 0px!important;
    }
    .owl-theme .owl-controls {
        display:none!important;
    }
    
    .section-testimonials {
        height: 550px;
    }
    .copyright-simple-menu{
        display:none;
    }
}




