{% for people in site.data.people %}
    <figure class="effect-jazz {{ people.team }}">
        <img src="images/team/{{ people.team }}/{{ people.name | replace: ' ','_'  }}.jpg" alt="{{ people.name }}">
        
        
        <figcaption>
            <div class="see-more">
                <div class="see-more-inner">
                <h2>{{ people.name }}</h2>
                <p>{{ people.ruolo }}</p>
                <p>{{ people.posizione }}</p>
                <a href="{{ people.link }}" target="_blank" class="link_hover"><small><i class="fa fa-linkedin-square"></i></small></a>
                </div>
            </div>
        </figcaption>
        
        <img src="images/logo/{{ people.team }}.png" class="block_logo">
        
    </figure>
{% endfor %}
